@import '../../style/global-variable.scss';

.sectionApp {
  z-index: 1;
  padding: 0 140px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-align: center;

  @include desktop-1680 {
    padding: 0 100px;
  }

  @include tablet-834 {
    padding: 0 80px;
  }

  @include mobile-428 {
    padding: 0 20px;
    gap: 20px;
  }

  @include mobile-375 {
    gap: 16px;
  }

  @include mobile-320 {
    gap: 12px;
  }
}

#section-1 {
  position: relative;

  .stickman-red {
    display: none;
    position: absolute;
    width: 40%;
    min-width: 450px;
    max-width: 550px;
    height: fit-content;
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
  }

  .stickman-red.display {
    display: block;
    animation: section1-stickman-red 2.5s ease-in-out forwards;
  }

  .stickman-shadow-red {
    display: none;
    position: absolute;
    width: 40%;
    min-width: 450px;
    max-width: 550px;
    height: fit-content;
    bottom: -1px;
    right: 1px;
    transform: scaleX(-1);
  }

  .stickman-shadow-red.display {
    display: block;
    animation: section1-stickman-shadow-red 2.5s ease-in-out forwards;
  }
}

@keyframes section1-stickman-red {
  0% {
    right: -550px;
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 50%;
  }
}

@keyframes section1-stickman-shadow-red {
  0% {
    right: -549px;
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: calc(50% + 1px);
  }
}
