@import '../../style/global-variable.scss';

.header {
  height: 100vh;
  padding: 0 160px;
  display: flex;
  justify-content: center;

  @include tablet {
    padding: 0 60px;
  }

  @include mobile {
    padding: 0 40px;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 280px;

  @include tablet {
    margin-top: 240px;
    justify-content: flex-end;
    flex-direction: column-reverse;
    gap: 80px;
  }

  @include mobile {
    margin-top: 148px;
    gap: 60px;
  }

  h1 {
    color: #012741;
    max-width: 941px;

    @include tablet {
      max-width: 754px;
      text-align: center;
    }

    @include mobile {
      max-width: 335px;
    }
  }

  img {
    height: 558px;
    width: 558px;

    @include tablet {
      width: 100%;
      height: fit-content;
      max-width: 480px;
    }

    @include mobile {
      max-width: 332px;
    }
  }
}
