@import './global-variable.scss';

@mixin input() {
  // XXLarge
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  // XXSmall
  @include mobile {
    font-size: 12px;
  }
}

.textInput {
  @include input()
}

// Hint

@mixin hint() {
  // XXLarge
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  // XXSmall
  @include mobile {
    font-size: 10px;
  }
}

.textHint {
  @include hint()
}

// Display

@mixin display() {
  // XXLarge
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 91.51%;

  // XLarge
  @include laptop {
    font-size: 36px;
    line-height: 110%;
  }

  // XXSmall
  @include mobile {
    font-size: 32px;
  }
}

.textDisplay {
  @include display()
}

// Headline

@mixin headline() {
  // XXLarge
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 115%;

  // XLarge
  @include laptop {
    font-size: 36px;
    line-height: 110%;
  }

  // XXSmall
  @include mobile {
    font-size: 20px;
  }
}

.textHeadline {
  @include headline()
}

// Title

@mixin title() {
  // XXLarge
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 115%;

  // XLarge
  @include laptop {
    font-size: 20px;
  }

  // XXSmall
  @include mobile {
    font-size: 20px;
  }
}

.textTitle {
  @include title()
}

// Body

@mixin body() {
  // XXLarge
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 115%;

  // XLarge
  @include laptop {
    font-size: 14px;
    line-height: 110%;
  }

  // XXSmall
  @include mobile {
    font-size: 12px;
    line-height: 115%;
  }
}

.textBody {
  @include body()
}

// Label

@mixin label() {
  // XXLarge
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  // XXSmall
  @include mobile {
    font-size: 10px;
  }
}

.textLabel {
  @include label()
}

.textBold {
  font-weight: 700;
}

.linkText {
  color: #3FA9F5;
}