.displayXLarge {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
}

.headlineXLarge {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
}

.titleXLarge {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 115%;
}

.bodyXLarge {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}

.bodyLarge {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
}

.textBold {
  font-weight: 700;
}

.linkText {
  color: #3FA9F5;
}
