@import './style/global-variable.scss';

.mainContainer {
  position: relative;
  background: linear-gradient(180deg, #FDEFFB 0%, #8D6CAC 20.18%, #3D2773 32.92%, #150152 46.91%, #85B5E3 60.47%, #E5D3FE 74.75%, #FEB3FE 100%);
}

.stickman {
  position: fixed;
  width: 40%;
  min-width: 450px;
  max-width: 550px;
  height: fit-content;
  bottom: 0;
  left: -120px;
}

.stickman-shadow {
  position: fixed;
  width: 40%;
  min-width: 450px;
  max-width: 550px;
  height: fit-content;
  bottom: -1px;
  left: -119px;
}
