@import '../../style/global-variable.scss';

.formsSection {
  z-index: 1;
  height: 100vh;
  padding: 40px 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include desktop-1680 {
    padding: 40px 360px;
  }

  @include desktop-1440 {
    padding: 40px 240px;
  }

  @include desktop-1280 {
    padding: 40px 200px;
  }

  @include tablet-834 {
    padding: 96px 20px 121px;
  }

  @include mobile-428 {
    padding: 146px 20px;
  }
}

.formsBeta {
  max-width: 1080px;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
  gap: 60px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  color: #012741;

  img {
    width: 60px;
    height: 60px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .title {
      font-family: 'Righteous';
      font-size: 32px;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
    }

    .subTitle {
      font-family: 'Ubuntu';
      font-size: 32px;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
    }
  }

  .formsContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 103px;

    .formsFields {
      display: flex;
      flex-direction: column;
      gap: 48px;

      .containerField {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        border-radius: 8px;
        border: 1px solid #71787E;
        color: #012741;
        font-family: 'Overpass';
        font-weight: 500;
        font-size: 32px;

        input {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          padding: 20px;

          &:focus, &.filled {
            +label {
              animation: inputFocus 0.3s ease forwards;
              padding: 0 5px;
              background-color: #FFFFFF;
            }
          }
        }

        label {
          position: absolute;
          left: 20px;
          color: #71787E;
          pointer-events: none;
          animation: inputUnfocus 0.3s ease forwards;
        }

        select {
          width: fit-content;
          height: 100%;
          padding: 20px;
          border-radius: 8px;
        }
      }

      .rowFields {
        display: flex;
        gap: 12px;
      }

      .telephoneFields {
        display: flex;
        gap: 12px;

        .phoneCode {
          width: fit-content;
        }
      }
    }

    .validateButton {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      padding: 32px 24px 32px 16px;
      background-color: #714DD8;
      font-family: 'Overpass';
      font-size: 32px;
      font-weight: 500;
      color: #FFFFFF;
      cursor: pointer;
    }
  }
}

@keyframes inputFocus {
  from {
    transform: translateX(0) translateY(0);
    font-size: inherit;
  }

  to {
    transform: translateX(-9px) translateY(-200%);
    font-size: 20px;
  }
}

@keyframes inputUnfocus {
  from {
    transform: translateX(-9px) translateY(-200%);
    font-size: 20px;
  }

  to {
    transform: translateX(0) translateY(0);
    font-size: inherit;
  }
}
